{% extends 'base.html.twig' %}

{% block title %}Frente da loja{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <form id="form-produto" action="{{ path('pesquisar_produto')}}" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-barcode"></span>
                            </span>
                            <input id="cod-produto" name="codigo" type="text" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" title="Enviar">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </form>

                    <hr />
                    
                    <div id="produto-detalhe" class="thumbnail hide">
                        <img src="http://lorempixel.com/240/240/" width="240" height="240" alt="produto">
                        <div class="caption">
                            <h3>Nome do produto</h3>
                            <p>Descrição do produto</p>
                            <p>Preço unitário: R$999,99</p>
                            
                        </div>
                    </div>
                    
                    <div id="erro" class="alert alert-danger hide">
                        <p>Produto não encontrado</p>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>
                        <span class="glyphicon glyphicon-shopping-cart" ></span>
                        Carrinho de compras
                    </h4>
                </div>
                <div class="panel-body">
                    <ol id="lista-produtos">
                    </ol>
                </div>
                <div class="panel-footer">
                    Total a pagar: R$ <span id="valor-total">0,00</span>
                </div>
            </div>
            
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-estorno">Estornar item</button>
            <button type="button" class="btn btn-danger">Cancelar item</button>
            <button type="button" class="btn btn-primary">Concluir venda</button>
            
        </div>
    </div>

<!-- janela modal dentro da página -->    
<div id="modal-estorno" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Estorno de item</h4>
      </div>
        
        <div class="modal-body">
            <div class="form-group">
                <label>Informe o número do item</label>
                <input type="text" class="form-control"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-warning">Confirmar</button>
            </div>
        </div>
        
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            listagemProdutos();
            
            $('#form-produto').submit(function(evento){
                evento.preventDefault();
                var valores = 
                {
                    "codigo": $('#cod-produto').val()
                };
                $.post('{{ path('pesquisar_produto')}}', valores, function(retorno){
                    if(retorno.status == "ok")
                    {
                        $("#erro").addClass('hide');
                        $("#produto-detalhe").removeClass('hide');
                        listagemProdutos();
                    } else {
                        $("#produto-detalhe").addClass('hide');
                        $("#erro").removeClass('hide');
                    }
                });
            });
        });
        
        
        function listagemProdutos()
        {
            $('#lista-produtos').empty();
            $.getJSON("{{ path('listagem') }}", function(retorno){
                var total = 0.0;
                retorno.forEach(function(el, idx){
                    var itemLista = $('<li>' + 
                        el.numOrdem + ' - ' + 
                        el.descricao + ' - ' + 
                        el.valor + '</li>');
                    $('#lista-produtos').append(itemLista);
                    total += parseFloat(el.valor);
                });
                $('#valor-total').html(total.toFixed(2));
            });
        }
    </script>
{% endblock %}